body{
    color:#171a20;
    font-family: 'M PLUS 1',sans-serif;
}
header{
    display: grid;
   grid-template-columns: auto 1fr auto;

}
a .logo{
    height: 12px;
    width: 100px;
    
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
nav a{
    text-decoration: none;
    padding: 12px 12px;
    color: #171a20;
    border-radius: 12px;
    font-size: medium;

}
nav a:hover
{
background-color:azure;
}

